@font-face{
    src: url(Fonts/DupletRounded-Light-BF6606345906e60.otf);
    font-family: Duplet-Light;
}

@font-face{
    src: url(Fonts/DupletRounded-Regular-BF6606345a6aa3a.otf);
    font-family: Duplet-Regular;
}

@font-face{
    src: url(Fonts/FredokaOne-Regular.otf);
    font-family: Fredoka;
}

@font-face{
    src: url(Fonts/Nunito-Regular.ttf);
    font-family: Nunito;
}

:root{
    font-size: 20px;
    font-family: Nunito;
    --text-primary: black;
    --text-secondary: #5d7b6f;
    --text-tertiary: #a4c3a2;
    --bg-primary: #eae7d6; 
}

body{
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* CONTENT (MODIFIABLE) */

h1{
    font-family: Fredoka;
    font-size: 4.75rem;
    color: var(--text-secondary);
    margin-top: 5vh;
    margin-bottom: 2vh;
    text-align: center;
    letter-spacing: 1vw;
    opacity: 0;
    animation: fade 1s ease-in-out forwards;
}

hr{
    display: block;
    width: 80%;
    margin: 0 auto;
    height: .25vh;
    background-color: var(--text-secondary);
    border-radius: 10rem;
}

hr.title{
    width: 0%;
    animation: widthUp 1s ease-in-out 0.3s forwards;
}


.grid{
    display: grid;
    gap: 2.75rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    width: 90%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: clamp(15rem, 100%, 25rem);
    height: clamp(15rem, 100%, 25rem); */
    width: 15rem;
    height: 15rem;
    border-radius: 15%;
    background-color: var(--text-tertiary);
    cursor: pointer;
    opacity: 0;
}

.transition{
    transition: 0.5s;
}

.button p{
    font-family: Fredoka;
    font-size: 1.5rem;
    color: var(--bg-primary);
    margin-bottom: 5%;
    letter-spacing: .2rem;
    text-align: center;
}

.button p.long{
    font-family: Fredoka;
    font-size: 1rem;
    color: var(--bg-primary);
    margin: auto auto 5% auto;
    letter-spacing: .2rem;
}

.button hr{
    height: 1%;
    border: none;
    background-color: var(--bg-primary);
    border-radius: 10rem;
}

.button img{
    height: 55%;
    margin: auto;
    margin-bottom: 10%;
}

.button:hover{
    transform: translate(1.75vh, -1.75vw);
    box-shadow: -1.75vh 1.75vw 0 0.25rem hsla(0, 0%, 50%, 0.75);
}

/* ANIMATIONS */

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes widthUp {
    from{
        width: 0%;
    }
    to{
        width: 80%;
    }
}

@keyframes sequentialFadeIn {
    from{
        transform: translateY(5vh);
    }
    to{
        transform: translateY(0);
    }
}

.button:nth-child(1){
    animation: sequentialFadeIn 0.75s ease-in-out, fade 0.75s ease-in-out forwards;
}

.button:nth-child(2){
    animation: sequentialFadeIn 0.75s ease-in-out 0.25s, fade 0.75s ease-in-out 0.25s forwards;
}

.button:nth-child(3){
    animation: sequentialFadeIn 0.75s ease-in-out 0.5s, fade 0.75s ease-in-out 0.5s forwards;
}

.button:nth-child(4){
    animation: sequentialFadeIn 0.75s ease-in-out 0.75s, fade 0.75s ease-in-out 0.75s forwards;
}

.button:nth-child(5){
    animation: sequentialFadeIn 0.75s ease-in-out 1s, fade 0.75s ease-in-out 1s forwards;
}

.button:nth-child(6){
    animation: sequentialFadeIn 0.75s ease-in-out 1.25s, fade 0.75s ease-in-out 1.25s forwards;
}

.button:nth-child(7){
    animation: sequentialFadeIn 0.75s ease-in-out 1.5s, fade 0.75s ease-in-out 1.5s forwards;
}

.button:nth-child(8){
    animation: sequentialFadeIn 0.75s ease-in-out 1.75, fade 0.75s ease-in-out 1.75s forwards;
}

.button:nth-child(9){
    animation: sequentialFadeIn 0.75s ease-in-out 2s, fade 0.75s ease-in-out 2s forwards;
}

.button:nth-child(10){
    animation: sequentialFadeIn 0.75s ease-in-out 2.25s, fade 0.75s ease-in-out 2.25s forwards;
}

.button:nth-child(11){
    animation: sequentialFadeIn 0.75s ease-in-out 2.5s, fade 0.75s ease-in-out 2.5s forwards;
}

.button:nth-child(12){
    animation: sequentialFadeIn 0.75s ease-in-out 2.75s, fade 0.75s ease-in-out 2.75s forwards;
}

.button:nth-child(13){
    animation: sequentialFadeIn 0.75s ease-in-out 3s, fade 0.75s ease-in-out 3s forwards;
}

.button:nth-child(14){
    animation: sequentialFadeIn 0.75s ease-in-out 3.25s, fade 0.75s ease-in-out 3.25s forwards;
}

.button:nth-child(15){
    animation: sequentialFadeIn 0.75s ease-in-out 4s, fade 0.75s ease-in-out 4s forwards;
}

.button:nth-child(16){
    animation: sequentialFadeIn 0.75s ease-in-out 4.25s, fade 0.75s ease-in-out 4.25s forwards;
}

.button:nth-child(17){
    animation: sequentialFadeIn 0.75s ease-in-out 4.5s, fade 0.75s ease-in-out 4.5s forwards;
}

.button:nth-child(18){
    animation: sequentialFadeIn 0.75s ease-in-out 4.75s, fade 0.75s ease-in-out 4.75s forwards;
}

.button:nth-child(19){
    animation: sequentialFadeIn 0.75s ease-in-out 5s, fade 0.75s ease-in-out 5s forwards;
}

.button:nth-child(20){
    animation: sequentialFadeIn 0.75s ease-in-out 5.25s, fade 5s ease-in-out 5.25s forwards;
}