@font-face{
    src: url(Fonts/DupletRounded-Light-BF6606345906e60.otf);
    font-family: Duplet-Light;
}

@font-face{
    src: url(Fonts/DupletRounded-Regular-BF6606345a6aa3a.otf);
    font-family: Duplet-Regular;
}

@font-face{
    src: url(Fonts/FredokaOne-Regular.otf);
    font-family: Fredoka;
}

@font-face{
    src: url(Fonts/Nunito-Regular.ttf);
    font-family: Nunito;
}

:root{
    font-size: 20px;
    font-family: Nunito;
    --text-primary: black;
    --text-secondary: #5d7b6f;
    --text-tertiary: #a4c3a2;
    --bg-primary: #eae7d6; 
}

body{
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* CONTENT (MODIFIABLE) */

.container1{
    position: relative;
    overflow: visible;
    width: 55vw;
    height: 110vh;
    top: 10vh;
    left: 33vw;
}


.image.circle1{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    box-shadow: hsl(0, 0%, 51%, 0.7) 0 0 0px 10px;
    top: -5%;
    left: 5%;
    float: right;
    position: absolute;
    shape-outside: circle();
    margin: 5px;
}


.image.circle2{
    position: absolute;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    box-shadow: hsl(0, 0%, 51%, 0.7) 0 0 0px 3px;
    top: 30%;
    right: -10%;
}

.image.circle3{
    position: absolute;
    width: 33%;
    height: 33%;
    border-radius: 50%;
    box-shadow: hsl(0, 0%, 51%, 0.7) 0 0 0px 3px;
    bottom: 12%;
    right: 4%;
}

.image.circle4{
    position: absolute;
    width: 43%;
    height: 43%;
    border-radius: 50%;
    box-shadow: hsl(0, 0%, 51%, 0.7) 0 0 0px 3px;
    bottom: 3%;
    left: 10%;
}

.webname{
    margin-top: 5%;
    top: -21%;
    left: -63%;
    position: absolute;
    width: 100%;
    height: 100%;
    scale: 85%;
}

.webname #course{
    font-family: Fredoka;
    font-size: 15vh;
    color: var(--text-secondary);
    display: inline;
    opacity: 0;
}

.webname #plorer{
    font-family: Duplet-Regular;
    font-size: 14vh;
    font-weight: bold;
    color: var(--text-secondary);
    display: inline;
    opacity: 0;
}

.webname h3{
    font-family: Duplet-Regular;
    font-size: 7vh;
    color: var(--text-tertiary);
    margin-top: -1%;
    margin-left: 3%;
    opacity: 0;
}

.desc.desc1{
    font-size: 2.6vh;
    color: var(--text-primary);
    position: relative;
    top: 20%;
    left: -45%;
    width: 52%;
}

.desc.desc1 p{
    margin-bottom: 0;
    opacity: 0;
}

#unique-text{
    margin: 0 1vh 1vh -2vw;
    padding: 0;
    font-family: Duplet-Regular;
    font-size: 4vh;
    color: var(--text-tertiary);
    text-shadow: 0 0 3px hsla(0, 0%, 0%, 0.3);
    opacity: 0;
}

/* ANIMATIONS */

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes widthUp {
    from{
        width: 0%;
    }
    to{
        width: 80%;
    }
}

@keyframes sequentialFadeIn {
    from{
        transform: translateY(5vh);
    }
    to{
        transform: translateY(0);
    }
}

.animation1{
    animation: fade 0.75s ease-in-out forwards;
}

.animation2{
    animation: fade 0.75s ease-in-out 0.5s forwards;
}

.animation3{
    animation: sequentialFadeIn 0.75s ease-in-out 1.25s, fade 0.75s ease-in-out 1.25s forwards;
}

.animation4{
    animation: sequentialFadeIn 0.75s ease-in-out 1.8s, fade 0.75s ease-in-out 1.8s forwards;
}

.animation5{
    animation: sequentialFadeIn 0.75s ease-in-out 1.9s, fade 0.75s ease-in-out 1.9s forwards;
}

.animation6{
    animation: sequentialFadeIn 0.75s ease-in-out 2s, fade 0.75s ease-in-out 2s forwards;
}


