:root{
    font-size: 20px;
    font-family: Nunito;
    --text-primary: black;
    --text-secondary: #5d7b6f;
    --text-tertiary: #a4c3a2;
    --bg-primary: #eae7d6; 
}

body{
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* CONTENT (MODIFIABLE) */

.back-button{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 5vh;
    top: -3vh;
    z-index: 10;
}

.back-button svg{
    margin: 0;
    fill: var(--text-secondary);
    z-index: 3;
    transition: 0.5s;
    cursor: pointer;
}

.back-button svg:hover{        
    transform: scale(130%);
}

.back-button p{
    margin: auto auto auto 1vw;
    opacity: 0;
    color: var(--text-secondary);
    text-shadow: 0 0 10px hsla(0, 0%, 0%, 0.5);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateX(-1vw);
}

.back-button svg:hover ~ p{    
    opacity: 1;    
    transform: translateX(0);
}

h1{
    font-family: Fredoka;
    font-size: 4.75rem;
    color: var(--text-secondary);
    margin-top: 8vh;
    margin-bottom: 2vh;
    text-align: center;
    letter-spacing: 1vw;

}

hr{
    display: block;
    width: 80%;
    margin: 0 auto;
    height: .25vh;
    background-color: var(--text-secondary);
    border-radius: 10rem;
}

.grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}

.button{
    display: flex;
    align-items: flex-start;
    /* width: clamp(15rem, 100%, 25rem);
    height: clamp(15rem, 100%, 25rem); */
    width: 100%;
    height: 8rem;
    border-radius: 1rem;
    background-color: var(--text-tertiary);
    cursor: pointer;
    opacity: 0;
}

.transition{
    transition: 0.5s;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.text-container .title{
    font-family: Fredoka;
    font-size: 2rem;
    color: hsla(104, 20%, 25%, 0.5);
    letter-spacing: .2rem;
    margin: auto auto auto 0;
}

.text-container p{
    font-family: Duplet-Regular;
    font-size: 1.5rem;
    color: var(--bg-primary);
    font-weight: bold;
    letter-spacing: .2rem;
    margin: 0 auto auto 3%;
}

.button .title.long{
    font-size: 1.5rem;
}

p.long{
    font-size: 1.1rem;
}

.button hr{
    height: 1%;
    border: none;
    background-color: var(--bg-primary);
    border-radius: 10rem;
}

.button img{
    height: 90%;
    margin: auto 2.5%;
}

.button:hover{
    scale: 102%;
    box-shadow: 0 0 .5rem 0.25rem hsla(0, 0%, 50%, 0.75);
}

/* ANIMATIONS */

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes widthUp {
    from{
        width: 0%;
    }
    to{
        width: 80%;
    }
}

@keyframes sequentialFadeIn {
    from{
        transform: translateX(-8vw);
    }
    to{
        transform: translateY(0);
    }
}

.button:nth-child(1){
    animation: sequentialFadeIn 0.75s ease-in-out, fade 0.75s ease-in-out forwards;
}

.button:nth-child(2){
    animation: sequentialFadeIn 0.75s ease-in-out 0.25s, fade 0.75s ease-in-out 0.25s forwards;
}

.button:nth-child(3){
    animation: sequentialFadeIn 0.75s ease-in-out 0.5s, fade 0.75s ease-in-out 0.5s forwards;
}

.button:nth-child(4){
    animation: sequentialFadeIn 0.75s ease-in-out 0.75s, fade 0.75s ease-in-out 0.75s forwards;
}

.button:nth-child(5){
    animation: sequentialFadeIn 0.75s ease-in-out 1s, fade 0.75s ease-in-out 1s forwards;
}

.button:nth-child(6){
    animation: sequentialFadeIn 0.75s ease-in-out 1.25s, fade 0.75s ease-in-out 1.25s forwards;
}

.button:nth-child(7){
    animation: sequentialFadeIn 0.75s ease-in-out 1.5s, fade 0.75s ease-in-out 1.5s forwards;
}

.button:nth-child(8){
    animation: sequentialFadeIn 0.75s ease-in-out 1.75, fade 0.75s ease-in-out 1.75s forwards;
}

.button:nth-child(9){
    animation: sequentialFadeIn 0.75s ease-in-out 2s, fade 0.75s ease-in-out 2s forwards;
}

.button:nth-child(10){
    animation: sequentialFadeIn 0.75s ease-in-out 2.25s, fade 0.75s ease-in-out 2.25s forwards;
}

.button:nth-child(11){
    animation: sequentialFadeIn 0.75s ease-in-out 2.5s, fade 0.75s ease-in-out 2.5s forwards;
}

.button:nth-child(12){
    animation: sequentialFadeIn 0.75s ease-in-out 2.75s, fade 0.75s ease-in-out 2.75s forwards;
}

.button:nth-child(13){
    animation: sequentialFadeIn 0.75s ease-in-out 3s, fade 0.75s ease-in-out 3s forwards;
}

.button:nth-child(14){
    animation: sequentialFadeIn 0.75s ease-in-out 3.25s, fade 0.75s ease-in-out 3.25s forwards;
}

.button:nth-child(15){
    animation: sequentialFadeIn 0.75s ease-in-out 4s, fade 0.75s ease-in-out 4s forwards;
}

.button:nth-child(16){
    animation: sequentialFadeIn 0.75s ease-in-out 4.25s, fade 0.75s ease-in-out 4.25s forwards;
}

.button:nth-child(17){
    animation: sequentialFadeIn 0.75s ease-in-out 4.5s, fade 0.75s ease-in-out 4.5s forwards;
}

.button:nth-child(18){
    animation: sequentialFadeIn 0.75s ease-in-out 4.75s, fade 0.75s ease-in-out 4.75s forwards;
}

.button:nth-child(19){
    animation: sequentialFadeIn 0.75s ease-in-out 5s, fade 0.75s ease-in-out 5s forwards;
}

.button:nth-child(20){
    animation: sequentialFadeIn 0.75s ease-in-out 5.25s, fade 5s ease-in-out 5.25s forwards;
}